.container {
  padding-right: 15px;
  padding-left: 15px;
}
.jumbotron {
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #eee;
}
.jumbotron-title {
  font-size: 60px;
  font-weight: bold;
}
.jumbotron-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 60px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.jumbotron-row-button {
  font-size: 24px;
  width: 100%;
}
.row {
  display: flex;
  border-top: 1px solid #ddd;
  line-height: 70px;
  height: 70px;
}
.row-1 {
  width: 80px;
}
.row-2 {
  flex: 1;
  color: #337ab7;
}
.row-3 {
  font-size: 20px;
  width: 80px;
  color: red;
}
